.svg__blue path {
  fill: var(--main-color) !important;
}

.nav-booking__blue span,
.nav-auth a span {
  color: var(--main-color) !important;
}

.nav-lang__blue {
  color: var(--main-color) !important;
}

.header-lang__svg path {
  fill: var(--main-color) !important;
}

.nav-booking__blue {
  border: 0.3rem solid var(--main-color);
}

.header-burger__block__blue {
  background-color: var(--main-color);
}

.header-burger__block__blue::after {
  background-color: var(--main-color);
}
.header-burger__block__blue::before {
  background-color: var(--main-color);
}

.favourites-nav {
  max-width: 129rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.favourite-nav_items {
  width: 120rem;
  height: 3.5rem;
  overflow: auto;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.favourite-nav_item {
  position: relative;
  font-size: 2rem;
  color: var(--main-gray);
}

.favourite-nav_item__active {
  color: var(--main-color);
}
.favourite-nav_item__active::after {
  content: "";
  width: 50%;
  height: 0.3rem;

  border-radius: 2rem;

  background-color: var(--main-color);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.favourites-cards {
  max-width: 129rem;
  margin: 6rem auto 0rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  /* justify-content: center; */
}

@media screen and (max-width: 1280px) {
  .favourites-nav {
    max-width: 111.9rem;
  }

  .favourite-nav_items {
    max-width: 103.2rem;
    height: 2.7rem;
  }

  .favourite-nav_item {
    font-size: 1.6rem;
  }

  .favourites-cards {
    max-width: 111.1rem;
  }

  .favourites-cards {
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .nav-booking__blue {
    border: none;
  }
  /* Скрываем scrollbar для Chrome, Safari и Opera */
  .favourite-nav_items::-webkit-scrollbar {
    display: none;
  }
  .favourites-nav {
    /* max-width: 93%; */

    max-width: 72.9rem;
  }
  .favourite-nav_items {
    gap: 3rem;
    max-width: 80%;

    /* Скрываем scrollbar для IE, Edge и Firefox */
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media screen and (max-width: 768px) {
  .favourites-nav {
    max-width: 90%;
    margin-top: 3.5rem;
  }
  .favourites-cards {
    gap: 0;
  }

  .slick-dots li.slick-active button:before {
    color: var(--main-color);
  }
}
