.auth-form {
  width: 107rem;
  height: 63rem;
  /* background-color: black; */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  backdrop-filter: blur(1.4rem);
}

.auth-form__nav {
  max-width: 41rem;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/images/auth-bg.png");
  border-radius: 1.5rem 0rem 0rem 1.5rem;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding-top: 2rem;
}

.greetings {
  line-height: 2.832rem;
  font-size: 3rem;
  width: 34rem;
  height: 4.8rem;
  border-bottom: 0.15rem solid #ffffff;
}

.auth-nav__text {
  max-width: 29.5rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 1.7rem;
}

.auth-login__link {
  margin-top: 4rem;
}

.auth-login {
  font-size: 2rem;
  padding: 0.8rem 3rem;
  border: 0.25rem solid #ffffff;
}

.auth-form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.reg-form {
  display: flex;
  flex-direction: column;
}

.auth-form__close {
  height: 9.1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
}

.btn-cross {
  width: 3rem;
  height: 0.5rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  margin-right: 5rem;
  transform: rotate(45deg);
  position: relative;
}

.btn-cross::after {
  content: "";

  width: 3rem;
  height: 0.5rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  position: absolute;
  transform: rotate(90deg);
}

.btn-cross::before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: rotate(45deg);
  top: -1.2rem;
  right: 0;
}

.auth-reg-title {
  font-size: 3rem;
  line-height: 2.8rem;
}
.auth-reg-desc {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 1.7rem;
}

.auth-reg-title,
.auth-reg-desc {
  color: var(--main-color);
}

.reg-form:first-child() {
  margin-top: 3.5rem;
}

.reg-form__input {
  height: 3.9rem;
  width: 51rem;
  border: none;
  border-bottom: 0.15rem solid var(--main-gray);
  margin-top: 2.8rem;
  outline: none;

  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: 700;
}

.reg-form__input__wrong::placeholder {
  color: #fbc8c8 !important;
}

.reg-form__input__wrong {
  border-bottom: 0.15rem solid #fbc8c8;
  color: #fbc8c8;
}

.reg-form__input::placeholder {
  color: var(--main-gray);
  font-size: 1.8rem;
  font-weight: 600;
}
.reg-form__input::-moz-placeholder {
  color: var(--main-gray);
  font-size: 1.8rem;
  font-weight: 600;
}
.reg-form__input::-webkit-input-placeholder {
  color: var(--main-gray);
  font-size: 1.8rem;
  font-weight: 600;
}

.terms {
  display: flex;
  justify-content: center;
  margin-top: 3.8rem;
  max-width: 51rem;
}

.terms__label {
  display: flex;
}

.terms__checkbox {
  transform: translateY(0.3rem);
}

.terms__span {
  color: var(--main-gray);
  font-size: 1.2rem;
  /* margin-left: 2.5rem; */
}

.terms__p {
  color: var(--main-gray);
  font-size: 1.2rem;
}

.reg-input__wrapper {
  position: relative;
}

.showPass {
  position: absolute;
  width: 2.9rem;
  height: 2.5rem;

  top: 34px;
  right: 10px;
}

.term:hover {
  color: black;
}
.term {
  font-size: 1.2rem;
  font-weight: 800;
}
