.offers {
  margin-top: 10.5rem;
  /* background-image: url("../images/offers.jpg"); */

  background-image: url("../images/offersBG123.webp");

  background-repeat: no-repeat;
  background-size: cover;
}
.offers-wrapper {
  height: 101.2rem;
  max-width: 129rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 3rem;

  color: var(--main-font-color);
}
.offers-wrapper::after {
  content: "";
  z-index: 0;
  grid-column: 1 / 8;
  grid-row: 1/ 13;
  max-width: 63rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  filter: brightness(0.9);
}

.offers-main__slider {
  /* background-color: red; */
  grid-column: 1 / 7;
  grid-row: 5 / 8;
  margin-left: 8rem;
  max-width: 47rem;
  height: 25.5rem;
  z-index: 10;
}
.offers-main__slider .slick-list .slick-track .offers-main__slide {
  width: 47rem;
}

.offers-main__slider h3 {
  font-size: 7rem;
}
.offers-main__slider span {
  display: inline-block;
  margin-top: 4rem;
  font-size: 2rem;
}
.offers-main__nav {
  /* background-color: blueviolet; */
  grid-column: 1 / 7;
  grid-row: 8 / 10;
  height: 5rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 1rem;
  align-self: center;
  max-width: 44rem;
  margin-left: 8rem;
  z-index: 10;
}

.offers-detail {
  width: 29.5rem;
  height: 4.8rem;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  /* border-radius: 1.5rem; */
  font-size: 2rem;
  display: flex;
  grid-column: 1 / 7;
}
.offers-nav__left {
  grid-column: 9 /10;
}
.offers-nav__right {
  grid-column: 10 / 11;
}

.offers-nav__left svg {
  transform: rotate(90deg);
}

.offers-nav__right svg {
  transform: rotate(-90deg);
}
.offers-nav__item svg {
  width: 1.5rem;
  height: 1.5rem;
}

.offers-nav__item {
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid #fff;
  /* border-radius: 1.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers-page {
  grid-column: 12 / 13;
  grid-row: 4 / 6;
  user-select: none;
}

.offers-page span {
  display: inline-block;
  font-weight: 900;
  font-size: 110px;
  line-height: 134px;
  color: transparent;
  -webkit-text-stroke-width: 1.16px;
  -webkit-text-stroke-color: #ffffff;
  /* font-family: MontserratBlack, sans-serif !important; */
  font-family: "MontserratBlack", sans-serif !important;
}
.offers-sub__slider {
  /* background-color: teal; */
  grid-column: 8 / 13;
  grid-row: 6 / 10;
  max-width: 47rem;
  display: flex;
  gap: 3rem;
  align-self: center;
  justify-self: end;
}
.offers-sub__slide {
  width: 22rem;
  height: 22rem;
  background-color: #fff;
  border-radius: 1.5rem;
  background-image: url("../images/popular-4.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.offers-sub__slider .slick-list .slick-track {
  display: flex;
  gap: 3.1rem;
}

@media screen and (max-width: 1280px) {
  .offers-main__slider {
    margin: 0;
    margin-left: 7rem;
    min-width: 44rem;
  }
  .offers-main__nav {
    margin: 0;
    margin-left: 7rem;
  }

  .offers-main__slide h3 {
    font-size: 4.8rem;
  }
  .offers-main__slide span {
    font-size: 2rem;
  }
  .offers-page span {
    line-height: 11.7rem;
  }
  .offers-sub__slide {
    width: 16rem;
    height: 16rem;
  }
  .offers-page {
    grid-column: 11 / 12;
  }
  .offers-main__slider .slick-list .slick-track .offers-main__slide {
    width: 47rem;
  }

  .offers-main__nav {
    display: flex;
  }

  .offers-wrapper::after {
    grid-column: 1 / 7;
    min-width: 51rem;
  }
}

@media screen and (max-width: 990px) {
  .offers-main__nav {
    grid-column: 1 / 13;
  }
  .offers-main__slider,
  .offers-main__nav {
    margin-left: 3rem;
  }
  .offers-main__nav {
    justify-self: center;
  }

  .offers-wrapper::after {
    max-width: 85%;
    min-width: 85%;
    grid-column: 1 / 13;
    justify-self: center;
  }

  .offers-main__slider .slick-list .slick-track .offers-main__slide {
    /* width: 60%; */
    gap: 2rem;
  }

  .offers-page,
  .offers-sub__slider {
    z-index: 10;
  }

  .offers-wrapper {
    max-width: 100%;
  }

  .offers-main__slider {
    grid-column: 1 / 13;
    grid-row: 4 / 7;
    justify-self: center;
  }
  .offers-sub__slider {
    grid-column: 1 / 13;
    justify-self: center;
    max-width: 32rem;
    grid-row: 6 / 9;
  }

  .offers-main__slide h3 {
    font-size: 2.2rem;
  }
  .offers-main__slide span {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .offers-wrapper::after {
    max-width: 90%;
    width: 90%;
  }
  .offers-main__slide span {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .offers-wrapper {
    max-height: 54.9rem;
    justify-items: center;
  }
  .offers-page span {
    font-size: 4.8rem;
    line-height: 5.9rem;
  }
  .offers {
    margin-top: 0;
  }
  .offers-main__nav {
    grid-column: 1 / 13;
    max-width: 26rem;
    font-size: 1.4rem;
  }

  .offers-main__slider,
  .offers-main__nav {
    margin-left: 0;
  }

  .offers-main__slider {
    max-width: 26rem;
    min-width: auto;
    max-height: 13rem;

    grid-row: 2 / 6;
    align-self: center;
  }

  .offers-main__slide {
    max-height: 15rem;
  }

  .offers-sub__slider {
    grid-row: 6 / 10;
  }

  .offers-main__slider .slick-list .slick-track .offers-main__slide {
    width: 27rem;
  }

  .offers-main__slide {
    max-width: 32rem;
  }
  .offers-main__slide h3 {
    font-size: 2rem;
    max-width: 15rem;
  }
  .offers-page {
    grid-column: 9 / 12;
    grid-row: 2 / 4;
    align-self: center;
  }

  .offers-main__nav {
    grid-row: 10 / 12;
    align-self: center;
  }

  .offers-main__slide {
    font-size: 1.4rem;
  }
  .offers-sub__slide {
    width: 26rem;
  }
  .offers-detail {
    font-size: 1.2rem;
    height: 3.8rem;
    order: 2;
    max-width: 14rem;
  }
  .offers-nav__left {
    order: 1;
  }
  .offers-nav__right {
    order: 3;
  }

  .offers-nav__item {
    height: 3.8rem;
    width: 3.8rem;
  }
  .offers-nav__item svg {
    height: 1.2rem;
    width: 1.2rem;
  }
  .offers-main__nav {
    display: flex;
    justify-content: space-between;
    width: 26rem;
  }
}
