* {
  --main-color: #264b87;
  --main-font-color: #fff;
  --main-gray: #b0b5bd;
  --main-blue-light: #c8e1fb;
  --main-light: #e9f3fd;

  /* color: var(--main-font-color);
  transition: all 0.3s; */

  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

.main,
.guide,
.popular,
.offers,
.blog,
footer {
  color: var(--main-font-color);
  transition: all 0.3s;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #e9f3fd;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #264b87;
}

.text-main {
  color: var(--main-color);
}
.text-gray {
  color: var(--main-gray);
}
.text-light {
  color: var(--main-light);
}
.text-white {
  color: var(--main-font-color);
}

.rotate-left {
  transform: rotate(-90deg);
}
.rotate-right {
  transform: rotate(90deg);
}

.input {
  border: none;
  color: var(--main-color);
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.main-p {
  font-size: 1.6rem;
}

.cu-p {
  cursor: pointer;
}

.h-1 {
  font-weight: 800;
  font-size: 16.5rem;
  line-height: 12rem;
}
.h-2 {
  font-size: 9.4rem;
  line-height: 86.4%;
}
.h-3 {
  font-size: 7.4rem;
  line-height: 86.4%;
}

.h-4 {
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3.2rem;
}

.thin {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}

.b-r {
  border-radius: 1.5rem;
}

.br-white {
  border-radius: 1.5rem;
  border: 2px solid #ffffff;
}

.btn-blue {
  background-color: var(--main-color);
}
.btn-blue:hover {
  background-color: #557dbc;
}

.btn-shadow:hover {
  box-shadow: 0px 3px 4px rgba(38, 75, 135, 0.25);
}

.text-shadow:hover {
  text-shadow: 0px 3px 4px rgba(38, 75, 135, 0.25);
}

.btn-bordered:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn-arrow:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-bordered-blue {
  height: 4.5rem;
  color: var(--main-color);
  border: 0.25rem solid var(--main-color);
}

.svg-blueFill path {
  fill: var(--main-color);
}
.svg-whiteFill path {
  fill: #ffffff;
}

.header-burger {
  width: 2.9rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-burger__block {
  width: 2.9rem;
  height: 4px;
  background-color: #ffffff;
  position: relative;
  border-radius: 25px;
}

.header-burger__block::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: -8px;
  border-radius: 25px;
}
.header-burger__block::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  bottom: -8px;
  border-radius: 25px;
}

header {
  display: flex;
  align-items: end;
}

.header-logo {
  align-self: end;
  transform: translateY(-0.4rem);
}

.main-arrow {
  width: 1.5rem;
  height: 1.5rem;
}

nav {
  display: flex;
  max-width: 129rem;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  height: 4.5rem;
  align-items: center;
}
.nav-menu {
  display: grid;
  align-items: center;
  max-width: 101rem;
  /* width: 100%; */
  margin-left: 7rem;
  grid-template-columns: repeat(35, 1fr);
  z-index: 1000;
}
.nav-search {
  grid-column: 1 / 2;
}

.nav-booking {
  grid-column: 3 / 12;
  font-size: 20px;
  max-width: 19.8rem;
  border: 2.5px solid #ffffff;
  border-radius: 1.5rem;
  /* height: 4.5rem; */
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  position: relative;
}

/* .nav-booking:hover .booking-options {
  visibility: visible;
  opacity: 1;
} */

/* .nav-booking:hover svg {
  transform: rotate(180deg);
} */

.arrow-top {
  transform: rotate(180deg);
}

.nav-booking svg {
  width: 1.5rem;
  height: 1rem;
  margin-left: 1.5rem;
  /* transform: rotate(0deg); */
}

.nav-booking svg path {
  width: 1.5rem;
  height: 0.8rem;
}

.nav-favourites {
  grid-column: 12 / 13;
}

.nav-lang {
  font-size: 2rem;
  grid-column: 28 / 31;
  position: relative;
  user-select: none;
}

.currency__active {
  color: var(--main-color) !important;
}

.nav-lang svg {
  width: 1.5rem;
  height: 1rem;
  margin-left: 0.9rem;
  transform: rotate(0deg);
}

.currency {
  color: var(--main-gray);
  line-height: 1.95rem;
  padding-top: 0.5rem;
}

.nav-lang:hover .header__modal-lang__options {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 22rem;
  left: -20px;
  position: absolute;

  background: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
  border-radius: 11.6216px;
}

.modal-lang__options__active {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 22rem;
  left: -20px;
  position: absolute;

  background: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
  border-radius: 11.6216px;
}

.nav-lang:hover .header-lang__svg {
  transform: rotate(180deg);
}

.nav-lang svg path {
  fill: #ffffff;
}

.nav-cart {
  grid-column: 31 / 32;
}

.nav-auth {
  grid-column: 33 / 36;
  font-size: 2rem;
}

.test {
  height: 100vh;
}

.mobile-nav {
  display: none;
}
.header-logo {
  width: 10.5rem;
  height: 4rem;
}
.header-logo img {
  width: 100%;
}
.nav-left__favourites {
  order: 3;
}
.nav-left__booking {
  order: 2;
}

.right-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: flex;
  display: none;
  visibility: none;
  opacity: 0;
}

.right-modal__bg {
  height: 100%;
  width: 60%;
  backdrop-filter: blur(10px) brightness(0.7);
  -webkit-backdrop-filter: blur(10px) brightness(0.7);
}

.right-modal__content {
  position: relative;
  background-color: #fff;
  width: 40%;
  height: 100vh;
  z-index: 100000;
  display: flex;
  flex-direction: column;
}

.modal-nav {
  position: absolute;
  left: 41.1rem;
  top: 6rem;
  width: 2.8rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #264b87;
  transform: rotate(45deg);
}
.modal-nav::after {
  content: "";
  position: absolute;
  width: 2.8rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #264b87;
  transform: rotate(-270deg);
}

.modal-nav::before {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: -9px;
  right: 1px;
  transform: rotate(45deg);
}

.modal-menu {
  list-style-type: none;
  max-width: 26rem;
  margin-top: 21rem;
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.modal-menu__hide {
  display: none;
}

.modal-actions__rates {
  margin: 16.7rem 2.5rem 0rem 2.5rem;
}

.modal-actions__rates {
  display: none;
}

.modal-nav__back {
  display: none;
}

.modal-actions__rates__active {
  display: block;
}
.modal-nav__back__active {
  display: block;
}

.modal-actions__header {
  margin-left: 4.3rem;
  font-size: 3rem;
}
.modal-rates {
  font-size: 2.6rem;
  margin-top: 7rem;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  row-gap: 1.5rem;
}

.modal-rates__rate {
  grid-row: 1 / 1;
  grid-column: 1 / 11;
  height: 4.5rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid var(--main-gray);
}

.modal-rate__items {
  max-width: 40rem;
  min-width: 26rem;
  display: flex;
  gap: 4.3rem;
}

.modal-rates__buy {
  grid-row: 2 / 2;
  grid-column: 1 / 11;
  display: flex;
  justify-items: end;
  justify-content: space-between;
}

.modal-buy__item,
.modal-sell__item {
  display: flex;
  gap: 4.3rem;
}

.arrow-back {
  position: absolute;
  top: 5rem;
  left: 7rem;
  width: 3rem;
  height: 2.5rem;
}

.modal-rates__buy,
.modal-rates__sell {
  margin-left: 4.5rem;
}

.modal-rates__sell {
  grid-row: 3 / 3;
  grid-column: 1 / 11;
  display: flex;
  justify-items: end;
  justify-content: space-between;
}

.modal-menu__item {
  color: var(--main-gray);
  font-size: 3rem;
  line-height: 3.65rem;
}

.modal-menu__item:hover {
  /* background-color: #e9f3fd; */
  border-radius: 1.5rem;
  padding: 0rem 1.5rem;
  color: var(--main-color);
}

header {
  height: 85px;
}

.nav-search svg {
  width: 2.4rem;
  height: 2.2rem;
}
.nav-search svg path {
  fill: #ffffff;
}

.nav-favourites svg {
  width: 3.2rem;
  height: 2.2rem;
}

.nav-favourites svg path {
  fill: #ffffff;
}

.nav-cart svg {
  width: 3rem;
  height: 2.2rem;
}

.nav-cart svg path {
  fill: #ffffff;
}
footer {
  margin: 8rem auto 0rem auto;
  height: 28.5rem;
  background-color: var(--main-color);
}

.footer-icon:hover {
  transform: translateY(-1rem);
}
.footer-icons {
  padding-top: 8.55rem;
  display: flex;
  justify-content: center;
  gap: 5.4rem;
}
.footer-icon svg {
  height: 5rem;
}
.footer-copyriht {
  text-align: center;
  margin-top: 6.5rem;
  font-size: 2.4rem;
}

.options {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 5rem;
  left: 0;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
}

.booking-options__active {
  visibility: visible;
  opacity: 1;
}

.options ul {
  list-style-type: none;
  padding: 1.6rem 0.6rem;
}
.options ul li {
  color: var(--main-gray);
}
.booking-option {
  width: 20.9rem;
  line-height: 3.5rem;
  padding-left: 12px;
}
.booking-options ul {
  margin: 0;
}
.option:hover {
  background-color: #e8eff4;
  border-radius: 1.1rem;
}

.footer-copyright {
  text-align: center;
  margin-top: 4.95rem;
  font-size: 2.4rem;
}

.lang-options {
  /* visibility: visible !important;
  opacity: 1 !important; */
  color: var(--main-gray);
  width: 19rem;
}

.lang-options ul {
  padding: 1.6rem 1.8rem;
  margin: 0;
  font-size: 1.6rem;
}

.lang-active {
  color: var(--main-color);
}
.lang-params svg {
  width: 1.5rem;
}
.lang-params svg path {
  fill: var(--main-color);
}
.lang-option {
  line-height: 1.95rem;
  font-size: 2rem;
}
.lang-option:last-child {
  margin-top: 3rem;
}

.lang-params {
  padding: 0 !important;
  margin: 1rem 0rem 0rem 0rem !important;
  display: flex;
  align-items: center;
  max-width: 11.6rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  font-size: 2rem;
}

.mob-icon {
  display: none;
}

.currency-params {
  max-width: 7.2rem;
}

.modal-lang {
  display: none;
}

.modal-lang__options {
  display: none;
}

.modal-actions {
  position: relative;
}

.modal-lang-list__active {
  position: absolute;
  top: 7rem;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
  border-radius: 11.6216px;
  min-height: 9rem;
  width: 17rem;

  padding: 0rem 0rem 1.5rem 2rem;
  flex-direction: column;

  display: flex;
}

.modal-lang-item {
  padding-top: 1rem;
  font-size: 2rem;
}

.modal-lang-item {
  font-weight: 600;
}
.modal-lang-item__active span {
  color: var(--main-color);
  font-weight: 700;
}

.modal-lang__select__active {
  display: none;
}

.modal-currency__select {
  display: none;
}

.modal-options__lang {
  z-index: 2;
}
.modal-options__currency {
  z-index: 1;
  margin-top: 3rem;
}

.modal-currency__select__active {
  display: flex;
  flex-wrap: wrap;
  max-width: 16rem;
}
.modal-currency__select__item {
  font-weight: 600;
}
.modal-currency__select__item__active {
  color: var(--main-color);
  font-weight: 700;
}

.modal-currency__select span {
  margin: 0.5rem 2.2rem 0rem 0rem;
  max-width: 9.5rem;
}

.modal-lang-list {
  display: none;
}

.modal-lang-list__active {
  position: absolute;
  top: 7rem;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
  border-radius: 11.6216px;
  min-height: 9rem;
  width: 22rem;

  padding: 0rem 0rem 1.5rem 2rem;
  flex-direction: column;

  display: flex;
}

.header__modal-lang__options {
  padding: 1.5rem 0rem 1.5rem 2rem;
}

.modal-arrow svg path {
  fill: var(--main-color) !important;
}
.modal-lang__select svg {
  width: 1.5rem;
  height: 1.5rem;
}
.modal-lang__select svg path {
  fill: var(--main-color);
}

/* для элемента input c type="checkbox" */
.chck > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .chck > span */
.chck > span {
  /* display: inline-flex; */
  display: inline-block;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.chck > span::before {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 0.15rem solid var(--main-gray);
  border-radius: 0.8rem;
  margin-right: 2.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.chck > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.chck > input:not(:disabled):active + span::before {
  background-color: var(--main-blue-light);
  border-color: var(--main-color);
}

/* стили для чекбокса, находящегося в фокусе */
.chck > input:focus + span::before {
  /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
  box-shadow: var(--main-color);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.chck > input:focus:not(:checked) + span::before {
  border-color: var(--main-gray);
}

/* стили для чекбокса, находящегося в состоянии checked */
.chck > input:checked + span::before {
  border-color: #ffffff;
  background-color: #ffffff;
  border: 0.15rem solid var(--main-gray);
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4937 0.0394062C17.3934 0.0619587 17.2156 0.131283 17.0984 0.193454C16.8975 0.300094 16.6293 0.57139 12.3693 4.97698L7.85315 9.64744L5.60593 7.32423C3.4777 5.12403 3.34723 4.99508 3.14246 4.88953C2.7568 4.69077 2.38379 4.64642 1.98508 4.752C1.66776 4.83603 1.48989 4.94361 1.2332 5.20675C0.979243 5.46704 0.850651 5.70909 0.777718 6.06399C0.694011 6.47133 0.778889 6.9359 1.00375 7.3011C1.09141 7.44351 1.8971 8.29647 3.99789 10.471L6.87211 13.4461L7.12414 13.571C7.67929 13.8461 8.27839 13.8031 8.78213 13.4519C9.04396 13.2694 19.0879 2.84971 19.2402 2.60266C19.548 2.10323 19.5802 1.47364 19.3255 0.933292C19.1996 0.666087 18.8562 0.310552 18.5982 0.180238C18.2536 0.0062443 17.8627 -0.0435895 17.4937 0.0394062Z' fill='%23264B87'/%3E%3C/svg%3E");

  background-size: inherit;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.chck > input:disabled + span::before {
  background-color: #e9ecef;
}

@media screen and (max-width: 1280px) {
  .modal-lang__select svg {
    width: 1.2rem;
  }
  .modal-lang svg {
    width: 1.2rem;
  }
  .main-arrow {
    width: 1.2rem;
    height: 1.2rem;
  }
  .nav-lang svg {
    width: 1.2rem;
  }

  .modal-actions__header {
    font-size: 2rem;
  }

  .modal-rates {
    font-size: 2rem;
  }

  .modal-rates__rate {
    height: 3.5rem;
    grid-column: 2 / 11;
  }
  .modal-rate__items {
    justify-content: end;
  }

  footer {
    margin: 6rem auto 0rem auto;
    height: 19rem;
  }
  .footer-icons {
    padding-top: 5.4rem;
    gap: 3.6rem;
  }
  .footer-icon {
    height: 3.2rem;
  }
  .footer-icon svg {
    width: 100%;
    height: 100%;
  }
  .footer-copyright {
    text-align: center;
    margin-top: 4.7rem;
    font-size: 1.6rem;
  }

  nav {
    max-width: 100%;
  }

  .nav-booking span,
  .nav-lang span,
  .nav-auth span {
    font-size: 1.6rem;
  }

  .nav-booking {
    grid-column: 3 / 11;
    justify-content: space-between;
  }

  header {
    max-width: 110rem;
    margin: 0 auto;
    height: 7rem;
  }
  .header-burger {
    justify-content: end;
  }

  .nav-booking svg {
    margin-left: 0.6rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media screen and (max-width: 990px) {
  .modal-actions {
    margin-top: 15rem;
  }
  .modal-lang-list {
    display: none;
  }

  .modal-lang-list__active {
    position: absolute;
    top: 7rem;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
    border-radius: 11.6216px;
    min-height: 9rem;
    width: 17rem;

    padding: 0rem 0rem 1.5rem 2rem;
    flex-direction: column;

    display: flex;
  }

  .modal-lang-item {
    padding-top: 1rem;
    font-size: 1.6rem;
  }

  .modal-lang-item {
    font-weight: 600;
  }
  .modal-lang-item__active span {
    color: var(--main-color);
    font-weight: 700;
  }

  .modal-lang__select__active {
    display: none;
  }

  .modal-currency__select {
    display: none;
  }

  .modal-options__currency {
    margin-top: 3rem;
  }

  .modal-currency__select__active {
    display: flex;
    flex-wrap: wrap;
  }
  .modal-currency__select__item {
    font-weight: 600;
  }
  .modal-currency__select__item__active {
    color: var(--main-color);
    font-weight: 700;
  }

  .modal-currency__select span {
    margin: 0.5rem 2.2rem 0rem 0rem;
    max-width: 9.5rem;
  }

  .modal-arrow {
    fill: var(--main-color);
    width: 1.5rem;
    height: 1.5rem;
  }
  .modal-lang {
    display: block;
    font-size: 1.6rem;
    position: relative;
  }

  .modal-lang svg {
    margin-left: 1.5rem;
  }

  .modal-arrow__active {
    margin-top: -7px;
    transform: rotate(180deg);
  }

  .modal-lang span {
    color: var(--main-color);
  }

  .modal-lang__select svg {
    margin-left: 1.5rem;
  }

  .modal-lang__active {
    position: absolute;
    top: 2.5rem;
    left: -2.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    background: #ffffff;
    box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
    border-radius: 11.6216px;

    min-width: 17rem;
    min-height: 11rem;

    font-size: 1.6rem;

    padding: 1.5rem 0rem 1.5rem 2rem;
  }

  .modal-menu__item {
    font-size: 1.6rem;
  }
  .booking-options {
    display: none;
  }

  /* .nav-booking:hover svg {
    transform: rotate(0deg);
  } */

  .desk-icon {
    display: none;
  }

  .mob-icon {
    display: block;
  }

  .right-modal__bg {
    width: 40%;
  }
  .right-modal__content {
    width: 60%;
  }

  footer {
    margin: 6rem auto 5rem auto;
  }
  .b-r {
    border-radius: 1rem;
  }
  nav {
    align-items: end;
    justify-content: space-between;
    max-width: 95%;
  }
  header {
    max-width: 768px;
    margin: 0 auto;
  }
  .h-1 {
    font-size: 7.9rem;
    text-align: center;
  }
  .booking-options {
    top: -23rem;
    left: -8rem;
  }

  .nav-menu {
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 0;
    background-color: var(--main-font-color);
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 5.5rem;

    /* grid-template-columns: repeat(5, 1fr); */
  }
  .mobile-nav {
    display: block;
  }
  .nav-desktop {
    display: none;
  }

  .nav-search {
    grid-column: 12 / 13;
    grid-row: 1;
  }
  .nav-search svg path {
    fill: var(--main-gray);
  }

  .nav-cart {
    grid-row: 1;
    grid-column: 15 / 16;
  }
  .nav-cart svg path {
    fill: var(--main-gray);
  }

  .nav-booking svg {
    width: 3.1rem;
    height: 3rem;
    transform: rotate(0);
  }

  .nav-booking {
    grid-row: 1;
    grid-column: 18 / 19;
    border: none;
    padding: 0;
  }
  .mobile-booking svg {
    margin: 0;
    height: 2.2rem;
    width: 2.6rem;
  }
  .nav-favourites {
    grid-row: 1;
    grid-column: 21 / 22;
  }
  .nav-favourites svg path {
    fill: var(--main-gray);
  }

  .nav-auth {
    grid-column: 24 / 25;
  }
  .nav-auth svg {
    width: 1.6rem;
    height: 2rem;
  }
  .nav-auth-mobile svg {
    width: 1.9rem;
    height: 3rem;
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  .chck > span::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0.1rem solid var(--main-gray);
    border-radius: 0.5rem;
    margin-right: 2.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .chck > input:checked + span::before {
    border-color: #ffffff;
    background-color: #ffffff;
    border: 0.1rem solid var(--main-gray);
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); */
    /* background-image: url("../images/checked.png"); */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4937 0.0394062C17.3934 0.0619587 17.2156 0.131283 17.0984 0.193454C16.8975 0.300094 16.6293 0.57139 12.3693 4.97698L7.85315 9.64744L5.60593 7.32423C3.4777 5.12403 3.34723 4.99508 3.14246 4.88953C2.7568 4.69077 2.38379 4.64642 1.98508 4.752C1.66776 4.83603 1.48989 4.94361 1.2332 5.20675C0.979243 5.46704 0.850651 5.70909 0.777718 6.06399C0.694011 6.47133 0.778889 6.9359 1.00375 7.3011C1.09141 7.44351 1.8971 8.29647 3.99789 10.471L6.87211 13.4461L7.12414 13.571C7.67929 13.8461 8.27839 13.8031 8.78213 13.4519C9.04396 13.2694 19.0879 2.84971 19.2402 2.60266C19.548 2.10323 19.5802 1.47364 19.3255 0.933292C19.1996 0.666087 18.8562 0.310552 18.5982 0.180238C18.2536 0.0062443 17.8627 -0.0435895 17.4937 0.0394062Z' fill='%23264B87'/%3E%3C/svg%3E");

    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .modal-actions__rates span {
    font-size: 1.6rem;
  }

  .modal-nav__back {
    left: 1.5rem;
  }

  .modal-actions__rates span {
    margin: 0;
  }

  .modal-rates {
    font-size: 1.4rem;
  }

  .modal-actions__rates {
    margin: 16.7rem 1.5rem 0rem 1.5rem;
  }
  .modal-rates__rate {
    grid-column: 1 / 11;
  }

  .modal-rates__buy,
  .modal-rates__sell {
    margin: 0;
    grid-column: 1 / 11;
  }

  .right-modal__bg {
    width: 0%;
  }
  .right-modal__content {
    width: 100%;
  }

  .modal-nav {
    left: unset;
    right: 2rem;
  }
  .modal-menu {
    margin: 15rem auto 0rem 3rem;
  }

  footer {
    margin: 3.4rem auto 5rem auto;
    height: 17.1rem;
  }
  .footer-icons {
    padding-top: 4.3rem;
    gap: 2.2rem;
  }
  .footer-icon {
    height: 2.2rem;
  }
  .footer-copyriht {
    margin-top: 3.5rem;
    font-size: 1.2rem;
  }

  nav {
    max-width: 90%;
    justify-content: space-between;
  }
  .nav-menu {
    left: 0;
  }
  header {
    width: auto !important;
  }
  .header-logo {
    /* margin-left: 1.5rem; */
    width: 9rem;
    height: 3.5rem;
  }
  .header-burger {
    justify-content: center;
  }

  .nav-search {
    grid-column: 4 / 8;
  }
  .nav-cart {
    grid-column: 10 / 14;
  }

  .nav-booking {
    width: 100%;
    grid-column: 16 / 21;
  }
  .mobile-booking {
    width: 100%;
  }
  .mobile-booking svg {
    width: 100%;
  }
  .nav-favourites {
    grid-column: 24 / 29;
  }

  .nav-auth {
    grid-column: 31 / 35;
  }
}
