* {
  --main-color: #264b87;
  --main-font-color: #fff;
  --main-gray: #b0b5bd;
  --main-blue-light: #c8e1fb;
  --main-light: #e9f3fd;

  /* color: var(--main-font-color); */
  /* transition: all 0.3s; */

  box-sizing: inherit;

  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #e9f3fd;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #264b87;
}

.text-main {
  color: var(--main-color);
}
.text-gray {
  color: var(--main-gray);
}
.text-light {
  color: var(--main-light);
}
.text-white {
  color: var(--main-font-color);
}

.rotate-left {
  transform: rotate(-90deg);
}
.rotate-right {
  transform: rotate(90deg);
}

.input {
  border: none;
  color: var(--main-color);
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.main-p {
  font-size: 1.6rem;
}

.cu-p {
  cursor: pointer;
}

.h-1 {
  font-weight: 800;
  font-size: 16.5rem;
  line-height: 12rem;
}
.h-2 {
  font-size: 9.4rem;
  line-height: 86.4%;
}
.h-3 {
  font-size: 7.4rem;
  line-height: 86.4%;
}

.h-4 {
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3.2rem;
}

.thin {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}

.b-r {
  border-radius: 1.5rem;
}

.br-white {
  border-radius: 1.5rem;
  border: 2px solid #ffffff;
}

.btn-blue {
  background-color: var(--main-color);
}
.btn-blue:hover {
  background-color: #557dbc;
}

.btn-shadow:hover {
  box-shadow: 0px 3px 4px rgba(38, 75, 135, 0.25);
}

.text-shadow:hover {
  text-shadow: 0px 3px 4px rgba(38, 75, 135, 0.25);
}

.btn-bordered:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn-arrow:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-bordered-blue {
  height: 4.5rem;
  color: var(--main-color);
  border: 0.25rem solid var(--main-color);
}

.svg-blueFill path {
  fill: var(--main-color);
}
.svg-whiteFill path {
  fill: #ffffff;
}

.header-burger {
  width: 2.9rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-burger__block {
  width: 2.9rem;
  height: 4px;
  background-color: #ffffff;
  position: relative;
  border-radius: 25px;
}

.header-burger__block::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: -8px;
  border-radius: 25px;
}
.header-burger__block::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  bottom: -8px;
  border-radius: 25px;
}

header {
  display: flex;
  align-items: end;
}

.header-logo {
  align-self: end;
  transform: translateY(-0.4rem);
}

.main-arrow {
  width: 1.5rem;
  height: 1.5rem;
}

nav {
  display: flex;
  max-width: 129rem;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  height: 4.5rem;
  align-items: center;
}
.nav-menu {
  display: grid;
  align-items: center;
  max-width: 101rem;
  /* width: 100%; */
  margin-left: 7rem;
  grid-template-columns: repeat(35, 1fr);
  z-index: 1000;
}
.nav-search {
  grid-column: 1 / 2;
}

.nav-booking {
  grid-column: 3 / 12;
  font-size: 20px;
  max-width: 19.8rem;
  border: 3px solid #ffffff;
  border-radius: 1.5rem;
  /* height: 4.5rem; */
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  position: relative;
}

.nav-booking:hover {
  box-shadow: 0px 0px 7px rgb(0 0 0 / 25%);
}

.svg__blue path {
  fill: var(--main-color) !important;
}

.nav-booking__blue span {
  color: var(--main-color) !important;
}

.nav-auth__blue a span {
  color: var(--main-color) !important;
}

.nav-lang__blue {
  color: var(--main-color) !important;
}

.nav-lang__blue svg path {
  fill: var(--main-color) !important;
}

.header-lang__svg__blue path {
  fill: var(--main-color) !important;
}

.nav-booking__blue {
  border: 0.3rem solid var(--main-color);
}

.header-burger__block__blue {
  background-color: var(--main-color);
}

.header-burger__block__blue::after {
  background-color: var(--main-color);
}
.header-burger__block__blue::before {
  background-color: var(--main-color);
}
/* .nav-booking:hover .booking-options {
  visibility: visible;
  opacity: 1;
} */

/* .nav-booking:hover svg {
  transform: rotate(180deg);
} */

.nav-booking svg {
  width: 1.5rem;
  height: 1rem;
  margin-left: 1.5rem;
  /* transform: rotate(0deg); */
}

.nav-booking__svg__active {
  transform: rotate(180deg);
}

.svg-arrow__active {
  transform: rotate(180deg);
}

.nav-booking svg path {
  width: 1.5rem;
  height: 0.8rem;
}

.nav-favourites {
  grid-column: 12 / 13;
}

.nav-lang {
  font-size: 2rem;
  grid-column: 28 / 31;
  position: relative;
  user-select: none;
}

.currency__active {
  color: var(--main-color) !important;
}

.nav-lang svg {
  width: 1.5rem;
  height: 1rem;
  margin-left: 0.9rem;
  transform: rotate(0deg);
}

.currency {
  color: var(--main-gray);
  line-height: 1.95rem;
  padding-top: 0.5rem;
}

.nav-lang:hover .header__modal-lang__options {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 22rem;
  left: -20px;
  position: absolute;

  background: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
  border-radius: 11.6216px;
}

.nav-lang:hover .header-lang__svg {
  transform: rotate(180deg);
}

.nav-lang svg path {
  fill: #ffffff;
}

.nav-cart {
  grid-column: 31 / 32;
}

.nav-auth {
  grid-column: 33 / 36;
  font-size: 2rem;
}

.test {
  height: 100vh;
}

.mobile-nav {
  display: none;
}
.header-logo {
  width: 10.5rem;
  height: 4rem;
}
.header-logo img {
  width: 100%;
}
.nav-left__favourites {
  order: 3;
}
.nav-left__booking {
  order: 2;
}

.right-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: flex;
  display: none;
  visibility: none;
  opacity: 0;
}

.right-modal__bg {
  height: 100%;
  width: 60%;
  backdrop-filter: blur(10px) brightness(0.7);
  -webkit-backdrop-filter: blur(10px) brightness(0.7);
}

.right-modal__content {
  position: relative;
  background-color: #fff;
  width: 40%;
  height: 100vh;
  z-index: 100000;
  display: flex;
  flex-direction: column;
}

.modal-nav {
  position: absolute;
  left: 41.1rem;
  top: 6rem;
  width: 2.8rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #264b87;
  transform: rotate(45deg);
}
.modal-nav::after {
  content: "";
  position: absolute;
  width: 2.8rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #264b87;
  transform: rotate(-270deg);
}

.modal-nav::before {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: -9px;
  right: 1px;
  transform: rotate(45deg);
}

.modal-menu {
  list-style-type: none;
  max-width: 26rem;
  margin-top: 21rem;
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.modal-menu__hide {
  display: none;
}

.modal-actions__rates {
  margin: 16.7rem 2.5rem 0rem 2.5rem;
}

.modal-actions__rates {
  display: none;
}

.modal-nav__back {
  display: none;
}

.modal-actions__rates__active {
  display: block;
}
.modal-nav__back__active {
  display: block;
}

.modal-actions__header {
  margin-left: 4.3rem;
  font-size: 3rem;
}
.modal-rates {
  font-size: 2.6rem;
  margin-top: 7rem;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  row-gap: 1.5rem;
}

.modal-rates__rate {
  grid-row: 1 / 1;
  grid-column: 1 / 11;
  height: 4.5rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid var(--main-gray);
}

.modal-rate__items {
  max-width: 40rem;
  min-width: 26rem;
  display: flex;
  gap: 4.3rem;
}

.modal-rates__buy {
  grid-row: 2 / 2;
  grid-column: 1 / 11;
  display: flex;
  justify-items: end;
  justify-content: space-between;
}

.modal-buy__item,
.modal-sell__item {
  display: flex;
  gap: 4.3rem;
}

.arrow-back {
  position: absolute;
  top: 5rem;
  left: 7rem;
  width: 3rem;
  height: 2.5rem;
}

.modal-rates__buy,
.modal-rates__sell {
  margin-left: 4.5rem;
}

.modal-rates__sell {
  grid-row: 3 / 3;
  grid-column: 1 / 11;
  display: flex;
  justify-items: end;
  justify-content: space-between;
}

.modal-menu__item {
  color: var(--main-gray);
  font-size: 3rem;
  line-height: 3.65rem;
}

.modal-menu__item:hover {
  /* background-color: #e9f3fd; */
  border-radius: 1.5rem;
  padding: 0rem 1.5rem;
  color: var(--main-color);
}

header {
  height: 85px;
  margin-bottom: 8rem;
}

.nav-search svg {
  width: 3.5rem;
  height: 2.6rem;
}
.nav-search svg path {
  fill: #ffffff;
}

.nav-favourites svg {
  width: 3.5rem;
  height: 2.6rem;
}

.nav-favourites svg path {
  fill: #ffffff;
}

.nav-cart svg {
  width: 3rem;
  height: 2.2rem;
}

.nav-cart svg path {
  fill: #ffffff;
}
footer {
  margin: 8rem auto 0rem auto;
  height: 28.5rem;
  background-color: var(--main-color);
}

.footer-icon:hover {
  transform: translateY(-1rem);
}
.footer-icons {
  padding-top: 8.55rem;
  display: flex;
  justify-content: center;
  gap: 5.4rem;
}
.footer-icon svg {
  height: 5rem;
}
.footer-copyriht {
  text-align: center;
  margin-top: 6.5rem;
  font-size: 2.4rem;
}

.options {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 5rem;
  left: 0;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
}
.options ul {
  list-style-type: none;
  padding: 1.6rem 0.6rem;
}
.options ul li {
  color: var(--main-gray);
}
.booking-option {
  width: 20.9rem;
  line-height: 3.5rem;
  padding-left: 1.2rem;
}
.booking-options ul {
  margin: 0;
}
.option:hover {
  background-color: #e8eff4;
  border-radius: 1.6 rem;
}

.footer-copyright {
  text-align: center;
  margin-top: 4.95rem;
  font-size: 2.4rem;

  color: var(--main-font-color);
}

.lang-options {
  /* visibility: visible !important;
  opacity: 1 !important; */
  color: var(--main-gray);
  width: 19rem;
}

.lang-options ul {
  padding: 1.6rem 1.8rem;
  margin: 0;
  font-size: 1.6rem;
}

.lang-active {
  color: var(--main-color);
}
.lang-params svg {
  width: 1.5rem;
}
.lang-params svg path {
  fill: var(--main-color);
}
.lang-option {
  line-height: 1.95rem;
  font-size: 2rem;
}
.lang-option:last-child {
  margin-top: 3rem;
}

.lang-params {
  padding: 0 !important;
  margin: 1rem 0rem 0rem 0rem !important;
  display: flex;
  align-items: center;
  max-width: 11.6rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  font-size: 2rem;
}

.mob-icon {
  display: none;
  position: relative;
}

/* .mob-icon__active::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.43773 7.94716C8.18457 6.14936 10.1063 4.70539 12.1128 3.56282C14.188 2.38062 16.3705 1.52013 18.5841 1.04003C20.7645 0.567004 23.0017 0.476696 25.1917 0.869426C27.298 1.2469 29.4332 2.08961 31.2842 3.57517C33.0889 5.02289 34.6287 7.13265 35.7124 9.62016C36.7618 12.0245 37.3896 14.8294 37.2715 17.6672C37.1728 20.0361 36.4979 22.3274 35.5354 24.2595C34.7317 25.8706 33.6791 27.2183 32.4913 28.2556C31.252 29.3388 29.8807 30.0895 28.4697 30.5972C26.9589 31.141 25.4041 31.4071 23.8472 31.4849C22.2098 31.5672 20.5681 31.4416 18.9425 31.1614C17.3373 30.8836 15.745 30.4495 14.1794 29.8782C12.6923 29.3352 11.2265 28.6676 9.80372 27.8533C8.57407 27.1501 7.37016 26.3314 6.24243 25.3463C4.56856 23.8855 2.8968 21.9391 2.10171 19.3376C1.69075 17.9952 1.57917 16.5069 1.81093 15.0806C2.07061 13.4775 2.68756 12.0211 3.43977 10.7786C4.8765 8.40695 6.77573 6.53754 8.71356 5.06088C10.5945 3.62747 12.615 2.57424 14.6977 1.89414C16.7857 1.21151 18.9339 0.909971 21.0767 0.983493C23.2173 1.0569 25.3494 1.50688 27.4074 2.34085C29.4526 3.16936 31.4172 4.37899 33.222 5.96641C35.1599 7.67031 36.9174 9.85197 38.1342 12.5958C39.3059 15.239 39.8982 18.4294 39.1471 21.4546C38.3874 24.5167 36.4764 26.7107 34.5858 28.3883C32.5857 30.1621 30.4086 31.5159 28.1446 32.4709C25.8773 33.4269 23.5296 33.9946 21.1679 34.2102C18.7912 34.4269 16.3941 34.2996 14.0346 33.838C11.9465 33.4304 9.86276 32.7998 7.87554 31.8033C6.09543 30.9111 4.3325 29.7049 2.90969 27.9311C1.49226 26.1625 0.492225 23.7741 0.456265 21.0602C0.413458 17.8228 1.68861 14.8692 3.22836 12.5933C4.46232 10.7689 5.92483 9.28772 7.49355 8.08339C8.85841 7.03542 10.3005 6.19548 11.7813 5.53393C13.3253 4.84507 14.9145 4.34461 16.5207 4.04037C18.1367 3.73357 19.7762 3.62474 21.4061 3.73266C22.9963 3.83873 24.5801 4.15626 26.1187 4.73447C27.5941 5.28901 29.0276 6.08303 30.3474 7.16895C31.6393 8.23196 32.8078 9.57242 33.78 11.1748C34.7897 12.8408 35.5644 14.78 36.0805 16.8421C36.47 18.3967 36.8005 20.1104 36.588 21.7649C36.3638 23.5087 35.515 24.9033 34.6641 26.1413C33.0557 28.4793 31.0449 30.3514 28.8635 31.4558C28.6542 31.5619 28.7444 32.034 28.9557 31.9271C31.2799 30.7501 33.3948 28.8905 35.1062 26.3756C35.9657 25.1102 36.8026 23.6529 37.0215 21.8808C37.2329 20.1627 36.941 18.417 36.5451 16.7934C36.0172 14.6287 35.2264 12.6072 34.1845 10.8476C33.1952 9.17457 31.9848 7.76768 30.6554 6.65524C29.2959 5.51626 27.8119 4.68067 26.285 4.10502C24.7013 3.50723 23.065 3.1817 21.4276 3.07378C19.7397 2.96336 18.0476 3.09069 16.3748 3.41527C14.7202 3.73613 13.0839 4.25977 11.4959 4.9875C9.9722 5.68521 8.48609 6.57025 7.08797 7.67213C5.44734 8.96314 3.91508 10.5698 2.65217 12.5357C1.12303 14.9171 -0.0921491 17.9731 0.00549988 21.2697C0.0891903 24.0693 1.11799 26.5532 2.58671 28.3864C4.05779 30.2231 5.86474 31.4734 7.70494 32.4046C9.73506 33.4322 11.8693 34.0804 14.0035 34.4996C16.4274 34.9752 18.8846 35.1229 21.3278 34.8948C23.7656 34.6674 26.1895 34.0767 28.5244 33.0598C30.841 32.0509 33.075 30.629 35.1094 28.7703C37.0441 27.0016 38.9207 24.6902 39.6729 21.5244C40.4143 18.402 39.822 15.0762 38.6321 12.3375C37.3971 9.49193 35.5987 7.21311 33.6094 5.43582C31.752 3.77514 29.7165 2.50795 27.6048 1.64129C25.4953 0.776614 23.3021 0.311388 21.1057 0.235306C18.8974 0.159195 16.6795 0.479427 14.5292 1.18952C12.3865 1.89596 10.3059 2.99952 8.37556 4.48688C7.41521 5.2271 6.49245 6.06451 5.61902 6.99385C4.66834 8.00548 3.75522 9.1081 2.99125 10.3984C2.21759 11.7035 1.57809 13.2165 1.30662 14.8852C1.06262 16.3805 1.14449 17.9448 1.5459 19.3729C2.33455 22.1727 4.05566 24.2753 5.82396 25.8557C6.98495 26.8938 8.22965 27.7409 9.50008 28.4802C10.9465 29.322 12.439 30.0117 13.9541 30.5706C15.5861 31.1728 17.2461 31.6229 18.92 31.9094C20.5885 32.1942 22.2752 32.3152 23.9545 32.2171C25.5672 32.1225 27.1832 31.8298 28.7444 31.2453C30.1951 30.7023 31.6114 29.8985 32.8776 28.7561C34.1244 27.6304 35.2114 26.181 36.044 24.455C37.0365 22.3997 37.6964 19.9734 37.7683 17.4797C37.8531 14.5651 37.1857 11.6726 36.0976 9.21344C34.971 6.66324 33.3797 4.49308 31.5213 3.00749C29.6103 1.48036 27.4203 0.631506 25.2507 0.240598C22.9877 -0.167041 20.6915 -0.0369855 18.4436 0.481988C16.1816 1.00369 13.982 1.93668 11.8811 3.22239C9.92392 4.42149 8.06225 5.95315 6.36903 7.78259C6.30145 7.85599 6.36583 8.01963 6.43773 7.94716Z' fill='%23B0B5BD'/%3E%3C/svg%3E%0A");
  width: 4rem;
  height: 3.5rem;
  position: absolute;
} */

.currency-params {
  max-width: 7.2rem;
}

.modal-lang {
  display: none;
}

.modal-lang__options {
  display: none;
}

.modal-actions {
  position: relative;
}

.modal-lang-list__active {
  position: absolute;
  top: 7rem;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
  border-radius: 11.6216px;
  min-height: 9rem;
  width: 17rem;

  padding: 0rem 0rem 1.5rem 2rem;
  flex-direction: column;

  display: flex;
}

.modal-lang-item {
  padding-top: 1rem;
  font-size: 2rem;
}

.modal-lang-item {
  font-weight: 600;
}
.modal-lang-item__active span {
  color: var(--main-color);
  font-weight: 700;
}

.modal-lang__select__active {
  display: none;
}

.modal-currency__select {
  display: none;
}

.modal-options__lang {
  z-index: 2;
}
.modal-options__currency {
  z-index: 1;
  margin-top: 3rem;
}

.modal-currency__select__active {
  display: flex;
  flex-wrap: wrap;
  max-width: 16rem;
}
.modal-currency__select__item {
  font-weight: 600;
}
.modal-currency__select__item__active {
  color: var(--main-color);
  font-weight: 700;
}

.modal-currency__select span {
  margin: 0.5rem 2.2rem 0rem 0rem;
  max-width: 9.5rem;
}

.modal-lang-list {
  display: none;
}

.modal-lang-list__active {
  position: absolute;
  top: 7rem;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
  border-radius: 11.6216px;
  min-height: 9rem;
  width: 22rem;

  padding: 0rem 0rem 1.5rem 2rem;
  flex-direction: column;

  display: flex;
}

.header__modal-lang__options {
  padding: 1.5rem 0rem 1.5rem 2rem;
}

.modal-arrow svg path {
  fill: var(--main-color) !important;
}
.modal-lang__select svg {
  width: 1.5rem;
  height: 1.5rem;
}
.modal-lang__select svg path {
  fill: var(--main-color);
}

/* для элемента input c type="checkbox" */
.chck > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .chck > span */
.chck > span {
  /* display: inline-flex; */
  display: inline-block;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.chck > span::before {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 0.15rem solid var(--main-gray);
  border-radius: 0.8rem;
  margin-right: 2.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.chck > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.chck > input:not(:disabled):active + span::before {
  background-color: var(--main-blue-light);
  border-color: var(--main-color);
}

/* стили для чекбокса, находящегося в фокусе */
.chck > input:focus + span::before {
  /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
  box-shadow: var(--main-color);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.chck > input:focus:not(:checked) + span::before {
  border-color: var(--main-gray);
}

/* стили для чекбокса, находящегося в состоянии checked */
.chck > input:checked + span::before {
  border-color: #ffffff;
  background-color: #ffffff;
  border: 0.15rem solid var(--main-gray);
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4937 0.0394062C17.3934 0.0619587 17.2156 0.131283 17.0984 0.193454C16.8975 0.300094 16.6293 0.57139 12.3693 4.97698L7.85315 9.64744L5.60593 7.32423C3.4777 5.12403 3.34723 4.99508 3.14246 4.88953C2.7568 4.69077 2.38379 4.64642 1.98508 4.752C1.66776 4.83603 1.48989 4.94361 1.2332 5.20675C0.979243 5.46704 0.850651 5.70909 0.777718 6.06399C0.694011 6.47133 0.778889 6.9359 1.00375 7.3011C1.09141 7.44351 1.8971 8.29647 3.99789 10.471L6.87211 13.4461L7.12414 13.571C7.67929 13.8461 8.27839 13.8031 8.78213 13.4519C9.04396 13.2694 19.0879 2.84971 19.2402 2.60266C19.548 2.10323 19.5802 1.47364 19.3255 0.933292C19.1996 0.666087 18.8562 0.310552 18.5982 0.180238C18.2536 0.0062443 17.8627 -0.0435895 17.4937 0.0394062Z' fill='%23264B87'/%3E%3C/svg%3E");

  background-size: inherit;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.chck > input:disabled + span::before {
  background-color: #e9ecef;
}

.booking-options__active {
  visibility: visible;
  opacity: 1;
}

/* CARDS */

.card {
  max-width: 41rem;
  border: none;
  max-height: 67.2rem;
  margin-bottom: 5rem;
}
.card_image {
  width: 100%;
  height: 23.5rem;
  position: relative;
}

.card_image img {
  border-radius: 1.5rem;
}
.card_title {
  color: var(--main-color);
  font-size: 3rem;
  line-height: 2.8rem;
  margin-top: 5rem;
  padding-left: 1.1rem;
}

.card-title__span {
  line-height: 2.8rem;
}

.card-icon {
  margin-top: 0.4rem;
}

.card_services {
  margin-top: 2.5rem;
  border-top: 0.2rem solid #e9f3fd;
  border-bottom: 0.2rem solid #e9f3fd;
  padding: 2.5rem 0rem;
}

.card-services_list {
  list-style-type: none;
}
.card-service_item {
  display: flex;
  max-height: 3.6rem;
  /* max-width: 27rem; */
}
.card-service_item__desc {
  font-size: 1.8rem;
  color: var(--main-color);
}

.item-card_actions {
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  margin: 3.5rem auto 0rem auto;
  /* width: 100%; */
  width: 37.4rem;
}

.card-service_item {
  margin-top: 3.5rem;
}

.card-service_item:first-child {
  margin-top: 0rem;
}

.card-service_item__icon {
  width: 6.5rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-width: 6.5rem;
  max-width: 6.5rem;
}
.icon-location {
  width: 2rem;
  height: 2.7rem;
}

.icon-wifi {
  width: 3.33rem;
  height: 2.5rem;
}
.icon-badperson {
  width: 2.38rem;
  height: 2.5rem;
}

.card-price {
  display: flex;
  align-items: center;
}

.card-price__span {
  font-size: 1.6rem;
  color: var(--main-color);
}

.card-details_link {
  padding: 1rem 3.8rem;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 2rem;
}

.card-details_link:hover {
  color: #ffffff;
  background-color: #557dbc;
}

.card-marker {
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 17.4rem;
  left: 1.6rem;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-marker:hover {
  background-color: var(--main-color);
}

.icon-favourites-filled {
  width: 3.2rem;
  height: 3.2rem;
}

.card_image .slick-arrow {
  visibility: hidden;
  opacity: 0;
  transition: visibility opacity 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.card_image:hover .slick-arrow {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.card_image .slick-list .slick-track {
  display: flex;
  gap: 3rem;
}

.card_image .slick-prev {
  left: -1.5rem;
}

.card_image .slick-next {
  right: -1.5rem;
}
.card-image .slick-prev:before,
.slick-next:before {
  opacity: 1;
}

.card-image .slick-prev:before,
.slick-prev:before {
  opacity: 1;
}

.card_image .slick-prev,
.card_image .slick-next {
  z-index: 100;
  width: 5rem;
  height: 5rem;
  background-color: var(--main-color);
  border-radius: 1.5rem;
}

.card_image .slick-prev:hover,
.card_image .slick-next:hover {
  /* background-color: #557dbc; */
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.card_image .slick-prev:before {
  content: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem'  viewBox='-2 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.82646 0.117961C7.53742 -0.591505 8.83515 -0.707119 9.72496 -0.140248C10.6148 0.426622 10.7598 1.46134 10.0488 2.1708L5.20342 7L10.0488 11.8292C10.7598 12.5387 10.6148 13.5734 9.72496 14.1402C8.83515 14.7071 7.53742 14.5915 6.82646 13.882L0.97711 8.05223C0.362382 7.46475 0.328892 6.59456 0.9512 5.97358L6.82646 0.117961Z' fill='white'/%3E%3C/svg%3E%0A");
}
.card_image .slick-next:before {
  content: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='-4 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.17354 0.117961C3.46258 -0.591505 2.16485 -0.707119 1.27504 -0.140248C0.385235 0.426622 0.240233 1.46134 0.951198 2.1708L5.79658 7L0.951198 11.8292C0.240233 12.5387 0.385235 13.5734 1.27504 14.1402C2.16485 14.7071 3.46258 14.5915 4.17354 13.882L10.0229 8.05223C10.6376 7.46475 10.6711 6.59456 10.0488 5.97358L4.17354 0.117961Z' fill='white'/%3E%3C/svg%3E%0A");
}

.booking-form__bordered {
  /* border: inset 0.15rem solid var(--main-gray); */
  border-radius: 1.5rem;
  box-shadow: inset 0 0 0 0.15rem var(--main-gray);
}

.showmore {
  display: flex;
  justify-content: center;

  margin-top: 3rem;
  margin-bottom: 20rem;
}
.showmore-btn {
  font-size: 2rem;
  padding: 0.7rem 13rem;
  border: 0.25rem solid var(--main-color);
  color: var(--main-color);
}

.showmore-btn:hover {
  color: #264b87;
  /* box-shadow: 0px 3px 4px rgba(38, 75, 135, 0.25); */
  box-shadow: 0px 0px 7px rgb(0 0 0 / 25%);
  /* text-shadow: 0px 3px 4px rgba(38, 75, 135, 0.25); */
}

.filter_tab__title__span {
  user-select: none;
}

/* Calendar */

.booking-filters {
  max-width: 129rem;
  margin: 0 auto 6rem auto;
}

.booking-filters_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 57.2rem;

  font-size: 2rem;
}

.booking-sort {
  display: flex;
}

.booking-filter {
  display: flex;
}

.filter-title {
  margin-left: 2.4rem;
}

.icon-filter {
  width: 3rem;
  height: 2.2rem;
}

.booking-sort_type {
  margin-left: 1rem;
  position: relative;
}

.booking-sort {
  position: relative;
}

.booking-sort_type__arrow {
  margin-left: 0.5rem;
}

.booking-sort_options__active {
  visibility: visible;
  opacity: 1;
  z-index: 300;
  top: 4rem;
  left: 16rem;
}

.booking-filter_tab:not(:first-child) {
  margin-top: 7rem;
}

.booking-filter_tab__title {
  margin-left: 1.5rem;
  font-size: 3.2rem;
}

.booking-filter_tab__reset {
  margin-left: 3.5rem;
  font-size: 1.6rem;
}

.booking-filter_tab {
  display: flex;
  align-items: center;
}

.booking-filter_details {
  max-width: 55rem;
  padding-top: 4rem;
}

.filter-progress .ui-corner-all {
  height: 0.2rem;
  top: -0.4rem;
  border: none;
  background-color: #b0b5bd;
}

.filter-progress .ui-slider-range {
  background-color: var(--main-color);
  top: 0rem;
}

.filter-progress .ui-slider-handle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--main-color);
}

.filter-progress .ui-state-active {
  background-color: var(--main-color);
  border: none;
}

.slider-range_values {
  display: flex;
  justify-content: space-between;
  font-size: 2.1rem;
  margin-top: 1rem;
}

.filter-check {
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  /* margin-top: 5rem; */
}

.filter-check:not(:first-child) {
  margin-top: 5rem;
}

.checkbox {
  width: 3rem;
  height: 3rem;
  border-radius: 0.7rem;

  border: 0.15rem solid var(--main-gray);

  appearance: none;
  -webkit-appearance: none;
}

.checkbox:checked {
  background-color: var(--main-color);
}

.checkbox-title {
  margin-left: 1.5rem;
  line-height: 2.56rem;
}

.left-modal__bg {
  order: 2;
}

.left-modal__content {
  order: 1;
}

.modal-nav__left {
  right: 6rem;
  left: auto;
}

.booking-filter__tab__wrapper {
  display: flex;

  flex-direction: column;
}

.booking-filter__tab__wrapper:not(:first-child) {
  margin-top: 7rem;
}

.booking-filter__arrow__rotate {
  transform: rotate(180deg);
}

.booking-filter_details__hide {
  display: none;
}

.modal-booking {
  margin-top: 12.5rem;
}

.modal-booking_filter {
  padding-top: 15.6rem;
  padding-left: 11rem;
  max-width: 57rem;
  padding-right: 40px;
  overflow: auto;
}

.popularoffers-wrapper {
  max-width: 129rem;
  margin: 0 auto 12.5rem auto;
  display: flex;
  gap: 10rem;
}

.popularoffers-desc {
  margin-bottom: 7rem;
}

.popularoffers-desc__span {
  font-size: 7.5rem;
  line-height: 6.5rem;
}

.popularoffers-region {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.popularoffers-region__desc__span {
  font-size: 2rem;
}

.popularoffers-region__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 3rem;
  margin-right: 1.8rem;
}
.popularoffers-region__icon__svg {
  width: 1.9rem;
  height: 2.7rem;
}

.popularoffers-block {
  max-width: 50%;
}

.popularoffers-slider {
  max-width: 61rem;
}

.popularoffers-slider .slick-list .slick-track {
  display: flex;
  gap: 2rem;
}

.popularoffers-slide {
  width: 19rem;
  height: 19rem;
  position: relative;
}

.popularoffers-slide__image {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  position: relative;
}

.popularoffers-slide__image img {
  border-radius: 1.2rem;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.popularoffers-slide__desc {
  text-align: center;
}

.popularoffers-slide__desc__span {
  font-size: 2rem;
  line-height: 2rem;
}

.popularoffers-slide:hover .popularoffers-slide__image::before {
  content: "";
  position: absolute;
  background-color: rgba(137, 137, 137, 0.45);
  backdrop-filter: blur(0.5rem);

  width: 100%;
  height: 50%;
  top: 50%;
  border-radius: 1.2rem;
}

.popularoffers-slide:hover .popularoffers-slide__desc {
  /* transform: translateY(-6rem); */
  visibility: visible;
  opacity: 1;

  transition: visibility 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.popularoffers-slide__desc {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  opacity: 0;
  visibility: hidden;
}

.map-fill__zone {
  fill: white;
  stroke: gray;
  stroke-width: 1rem;
}

.map-color {
  fill: #e9f3fd;
}

.map-fill__point {
  fill: #b0b5bd;
}

.map-color__point {
  fill: #264b87;
}

.map {
  width: 55rem;
  height: 50rem;
}

.map-main {
  width: 55rem;
  height: 45.5rem;
}

.popularoffers-slider .slick-prev::before {
  display: none;
}

.popularoffers-slider .slick-next::before {
  content: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='-4 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.17354 0.117961C3.46258 -0.591505 2.16485 -0.707119 1.27504 -0.140248C0.385235 0.426622 0.240233 1.46134 0.951198 2.1708L5.79658 7L0.951198 11.8292C0.240233 12.5387 0.385235 13.5734 1.27504 14.1402C2.16485 14.7071 3.46258 14.5915 4.17354 13.882L10.0229 8.05223C10.6376 7.46475 10.6711 6.59456 10.0488 5.97358L4.17354 0.117961Z' fill='darkblue' /%3E%3C/svg%3E%0A");
}

.popularoffers-slider .slick-next {
  z-index: 100;
  width: 2rem;
  height: 2rem;
}
.find-form__wrapper {
  margin: 0 auto;
}

.find-form__params {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.find-icon__location {
  margin-right: 1.5rem;
  transform: translateY(4px);
}

.find-region__select__span {
  line-height: 2.4rem;
}

.find-form__region {
  display: flex;
  align-items: center;
  position: relative;
}

.find-form__content {
  padding: 2.4rem 4rem 2.4rem 4rem;
}

.find-form__search {
  width: 40.7rem;
}

.find-form__input {
  width: 100%;
  border: none;
  border-bottom: 0.2rem solid var(--main-gray);
  outline: none;

  font-weight: 600;
  line-height: 3rem;
  color: var(--main-color);
}

.options__category {
  width: 29.6rem;
  z-index: 300;
}

.booking-options__search {
  z-index: 300;
  width: 29.6rem;
}

.booking-option__search {
  width: 91%;
  padding: 0rem 1.2rem;
}

@media screen and (max-width: 1280px) {
  .popularoffers-map {
    /* transform: scale(0.85) translateY(-10rem); */
    width: 100%;
  }
  .map {
    transform: scale(0.85) translateY(-10rem);
  }

  .popularoffers-wrapper {
    max-width: 108.2rem;
    min-width: 99rem;
    gap: 5rem;
  }

  .popularoffers-desc {
    margin-bottom: 3.2rem;
  }

  .popularoffers-desc__span {
    font-size: 6.4rem;
    line-height: 5.5rem;
  }
  .popularoffers-region {
    margin-bottom: 3.2rem;
  }

  .popularoffers-region__desc__span {
    font-size: 1.6rem;
  }

  .popularoffers-slider {
    max-width: 51rem;
  }

  .popularoffers-slider .slick-list .slick-track {
    gap: 1.5rem;
  }

  .popularoffers-slide {
    width: 16rem;
    height: 16rem;
  }

  .filter-check .booking-filter_tab__reset {
    margin-left: 2rem;
  }
  .filter_tab__reset__span {
    font-size: 1.2rem;
  }

  .booking-filter__tab__wrapper:not(:first-child) {
    margin-top: 4rem;
  }

  .booking-filter_tab:not(:first-child) {
    margin-top: 4rem;
  }

  .checkbox {
    width: 1.8rem;
    height: 1.8rem;
  }
  .checkbox-title {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .booking-filter_tab__title {
    font-size: 2.4rem;
  }
  .modal-booking_filter {
    max-width: 35rem;
  }

  .booking-filters {
    max-width: 87vw;
  }

  .booking-form__bordered {
    max-width: 87vw;
    width: 100%;
  }
  .booking-filters_wrapper {
    font-size: 1.6rem;
    max-width: 47rem;
  }

  .booking-sort_options {
    top: 3rem;
    left: 10rem;
  }

  .showmore-btn {
    font-size: 1.6rem;
    padding: 0.55rem 11.25rem;
  }

  .card {
    max-width: 35rem;
  }

  .card_image .slick-list .slick-track .slick-slide {
    max-width: 35rem;
  }

  .card_image {
    max-height: 20rem;
  }

  .card-marker {
    top: 14.5rem;
    left: 1.1rem;
  }

  .card_title {
    margin-top: 3rem;
    font-size: 2.4rem;
  }

  .card_services {
    padding: 1rem 0rem;
  }

  .card-service_item {
    max-height: 3.5rem;
    margin-top: 1.5rem;
  }

  .card-service_item__desc {
    font-size: 1.4rem;
  }

  .card-service_item__icon {
    min-width: 1.7rem;
    max-width: 4.7rem;
  }

  .icon-location {
    width: 1.6rem;
    height: 2rem;
  }
  .icon-wifi {
    width: 2rem;
    height: 1.5rem;
  }

  .icon-badperson {
    width: 1.9rem;
    height: 2rem;
  }

  .item-card_actions {
    width: 32.4rem;
    margin: 1.9rem auto 0rem auto;
    align-items: center;
  }

  .card-details_link {
    padding: 0.8rem 3rem;
    font-size: 1.6rem;
    border-radius: 1rem;
  }

  .card-price__span {
    font-size: 1.4rem;
  }

  .modal-actions__header {
    font-size: 2rem;
  }

  .modal-rates {
    font-size: 2rem;
  }

  .modal-rates__rate {
    height: 3.5rem;
    grid-column: 2 / 11;
  }
  .modal-rate__items {
    justify-content: end;
  }

  footer {
    margin: 6rem auto 0rem auto;
    height: 19rem;
  }
  .footer-icons {
    padding-top: 5.4rem;
    gap: 3.6rem;
  }
  .footer-icon {
    height: 3.2rem;
  }
  .footer-icon svg {
    width: 100%;
    height: 100%;
  }
  .footer-copyright {
    text-align: center;
    margin-top: 4.7rem;
    font-size: 1.6rem;
  }

  nav {
    max-width: 100%;
  }

  .nav-booking span,
  .nav-lang span,
  .nav-auth span {
    font-size: 1.6rem;
  }

  .nav-booking {
    grid-column: 3 / 11;
    justify-content: space-between;
  }

  header {
    max-width: 110rem;
    margin: 0 auto;
    height: 7rem;
  }
  .header-burger {
    justify-content: end;
  }

  .nav-booking svg {
    margin-left: 0.6rem;
  }
}

@media screen and (max-width: 990px) {
  .modal-actions {
    margin-top: 15rem;
  }
  .modal-lang-list {
    display: none;
  }

  .modal-lang-list__active {
    position: absolute;
    top: 7rem;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
    border-radius: 11.6216px;
    min-height: 9rem;
    width: 17rem;

    padding: 0rem 0rem 1.5rem 2rem;
    flex-direction: column;

    display: flex;
  }

  .modal-lang-item {
    padding-top: 1rem;
    font-size: 1.6rem;
  }

  .modal-lang-item {
    font-weight: 600;
  }
  .modal-lang-item__active span {
    color: var(--main-color);
    font-weight: 700;
  }

  .modal-lang__select__active {
    display: none;
  }

  .modal-currency__select {
    display: none;
  }

  .modal-options__currency {
    margin-top: 3rem;
  }

  .modal-currency__select__active {
    display: flex;
    flex-wrap: wrap;
  }
  .modal-currency__select__item {
    font-weight: 600;
  }
  .modal-currency__select__item__active {
    color: var(--main-color);
    font-weight: 700;
  }

  .modal-currency__select span {
    margin: 0.5rem 2.2rem 0rem 0rem;
    max-width: 9.5rem;
  }

  .modal-arrow {
    fill: var(--main-color);
    width: 1.5rem;
    height: 1.5rem;
  }
  .modal-lang {
    display: block;
    font-size: 1.6rem;
    position: relative;
  }

  .modal-lang svg {
    margin-left: 1.5rem;
  }

  .modal-arrow__active {
    margin-top: -7px;
    transform: rotate(180deg);
  }

  .modal-lang span {
    color: var(--main-color);
  }

  .modal-lang__select svg {
    margin-left: 1.5rem;
  }

  .modal-lang__active {
    position: absolute;
    top: 2.5rem;
    left: -2.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    background: #ffffff;
    box-shadow: 0px 0px 29.0541px rgba(0, 0, 0, 0.25);
    border-radius: 11.6216px;

    min-width: 17rem;
    min-height: 11rem;

    font-size: 1.6rem;

    padding: 1.5rem 0rem 1.5rem 2rem;
  }

  .modal-menu__item {
    font-size: 1.6rem;
  }
  .booking-options {
    display: none;
  }

  .nav-booking:hover svg {
    transform: rotate(0deg);
  }

  .desk-icon {
    display: none;
  }

  .mob-icon {
    display: block;
  }

  .right-modal__bg {
    width: 40%;
  }
  .right-modal__content {
    width: 60%;
  }

  footer {
    margin: 6rem auto 5rem auto;
  }
  .b-r {
    border-radius: 1rem;
  }
  nav {
    align-items: end;
    justify-content: space-between;
    max-width: 95%;
  }
  header {
    max-width: 91vw;
    margin: 0 auto;
  }
  .h-1 {
    font-size: 7.9rem;
    text-align: center;
  }
  .booking-options {
    top: -23rem;
    left: -8rem;
  }

  .nav-menu {
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 0;
    background-color: var(--main-font-color);
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 5.5rem;

    /* grid-template-columns: repeat(5, 1fr); */
  }
  .mobile-nav {
    display: block;
  }
  .nav-desktop {
    display: none;
  }

  .nav-search {
    grid-column: 12 / 13;
    grid-row: 1;
  }
  .nav-search svg path {
    fill: var(--main-gray);
  }

  .nav-cart {
    grid-row: 1;
    grid-column: 15 / 16;
  }
  .nav-cart svg path {
    fill: var(--main-gray);
  }

  .nav-booking svg {
    width: 3.1rem;
    height: 3rem;
    transform: rotate(0);
  }
  .nav-booking {
    grid-row: 1;
    grid-column: 18 / 19;
    border: none;
    padding: 0;
  }
  .mobile-booking svg {
    margin: 0;
    height: 2.2rem;
    width: 2.6rem;
  }
  .nav-favourites {
    grid-row: 1;
    grid-column: 21 / 22;
  }
  .nav-favourites svg path {
    fill: var(--main-gray);
  }

  .nav-auth {
    grid-column: 24 / 25;
  }

  .nav-auth__blue {
    color: var(--main-text);
  }

  .nav-auth svg {
    width: 1.6rem;
    height: 2rem;
  }
  .nav-auth-mobile svg {
    width: 1.9rem;
    height: 3rem;
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  .chck > span::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0.1rem solid var(--main-gray);
    border-radius: 0.5rem;
    margin-right: 2.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .chck > input:checked + span::before {
    border-color: #ffffff;
    background-color: #ffffff;
    border: 0.1rem solid var(--main-gray);
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); */
    /* background-image: url("../images/checked.png"); */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4937 0.0394062C17.3934 0.0619587 17.2156 0.131283 17.0984 0.193454C16.8975 0.300094 16.6293 0.57139 12.3693 4.97698L7.85315 9.64744L5.60593 7.32423C3.4777 5.12403 3.34723 4.99508 3.14246 4.88953C2.7568 4.69077 2.38379 4.64642 1.98508 4.752C1.66776 4.83603 1.48989 4.94361 1.2332 5.20675C0.979243 5.46704 0.850651 5.70909 0.777718 6.06399C0.694011 6.47133 0.778889 6.9359 1.00375 7.3011C1.09141 7.44351 1.8971 8.29647 3.99789 10.471L6.87211 13.4461L7.12414 13.571C7.67929 13.8461 8.27839 13.8031 8.78213 13.4519C9.04396 13.2694 19.0879 2.84971 19.2402 2.60266C19.548 2.10323 19.5802 1.47364 19.3255 0.933292C19.1996 0.666087 18.8562 0.310552 18.5982 0.180238C18.2536 0.0062443 17.8627 -0.0435895 17.4937 0.0394062Z' fill='%23264B87'/%3E%3C/svg%3E");

    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .filter-title {
    margin-left: 0.5rem;
  }

  .modal-booking_filter {
    align-self: center;
    padding: 15.6rem 1.5rem 0rem 1.5rem;
  }

  .booking-filter_tab__title {
    font-size: 1.8rem;
  }

  .checkbox-title {
    font-size: 1.2rem;
  }

  .checkbox {
    border-radius: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .booking-filter_details {
    padding-top: 2.5rem;
  }

  .filter-check:not(:first-child) {
    margin-top: 2.5rem;
  }

  .booking-sort_options {
    display: block;
    top: 3rem;
    left: -10rem;
  }
  .icon-filter {
    width: 2.5rem;
  }

  .booking-filters_wrapper {
    font-size: 1.4rem;
    max-width: none;
    width: 100%;
  }

  .main-arrow {
    width: 1.2rem;
    height: 1.2rem;
  }
  .showmore {
    margin: 0rem auto 3.5rem auto;
  }
  .showmore-btn {
    padding: 0.2rem 1.6rem;
  }

  .card-title__span {
    font-size: 2rem;
  }
  .card-marker {
    top: 15.5rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
  }

  .icon-favourites-filled {
    width: 2.3rem;
    height: 2.1rem;
  }

  .card_image {
    max-width: 29rem;
    max-height: 20rem;
    margin: 0 auto;
  }
  .card_services {
    max-width: 29rem;
    margin: 0 auto;
  }

  .card-details_link {
    padding: 0.8rem 2.1rem;
  }

  /* .slick-dotted.slick-slider {
    margin-bottom: 0rem;
  } */

  /* .card_image .slick-dots {
    bottom: 1rem;
  } */

  .card_image .slick-list .slick-track .slick-slide {
    max-width: 29rem;
    height: 20rem;
  }

  .card-service_item__icon {
    min-width: 2.6rem;
    max-width: 2.6rem;

    justify-content: flex-start;
  }

  .card_title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 29rem;
  }
  .item-card_actions {
    width: 29rem;
  }
  .modal-actions__rates span {
    font-size: 1.6rem;
  }

  .modal-nav__back {
    left: 1.5rem;
  }

  .modal-actions__rates span {
    margin: 0;
  }

  .modal-rates {
    font-size: 1.4rem;
  }

  .modal-actions__rates {
    margin: 16.7rem 1.5rem 0rem 1.5rem;
  }
  .modal-rates__rate {
    grid-column: 1 / 11;
  }

  .modal-rates__buy,
  .modal-rates__sell {
    margin: 0;
    grid-column: 1 / 11;
  }

  .right-modal__bg {
    width: 0%;
  }
  .right-modal__content {
    width: 100%;
  }

  .modal-nav {
    left: unset;
    right: 2rem;
  }
  .modal-menu {
    margin: 15rem auto 0rem 3rem;
  }

  footer {
    margin: 3.4rem auto 5rem auto;
    height: 17.1rem;
  }
  .footer-icons {
    padding-top: 4.3rem;
    gap: 2.2rem;
  }
  .footer-icon {
    height: 2.2rem;
  }
  .footer-copyriht {
    margin-top: 3.5rem;
    font-size: 1.2rem;
  }

  nav {
    max-width: 90%;
    justify-content: space-between;
  }
  .nav-menu {
    left: 0;
  }
  header {
    max-width: 96vw;
  }
  .header-logo {
    /* margin-left: 1.5rem; */
    width: 9rem;
    height: 3.5rem;
  }
  .header-burger {
    justify-content: center;
  }

  .nav-search {
    grid-column: 4 / 8;
  }

  .nav-search a svg {
    width: 2.2rem;
    height: 2.2rem;
  }
  .nav-favourites a svg {
    width: 2.4rem;
    height: 2.5rem;
  }

  .nav-cart {
    grid-column: 10 / 14;
  }

  .nav-booking {
    width: 100%;
    grid-column: 16 / 21;
  }
  .mobile-booking {
    width: 100%;
  }
  .mobile-booking svg {
    width: 100%;
  }
  .nav-favourites {
    grid-column: 24 / 29;
  }

  .nav-auth {
    grid-column: 31 / 35;
  }
}
