.booking-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 6rem auto 0rem auto;
  justify-content: center;
}

.showmore-booking {
  margin-bottom: 12.5rem;
}

.menu__active::after {
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-lang__svg path {
  fill: var(--main-color) !important;
}

@media screen and (max-width: 1280px) {
  .showmore-booking {
    margin-bottom: 8rem;
  }

  .booking-cards {
    max-width: 108rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .modal-nav__left {
    right: 1.6rem;
  }

  .showmore-booking {
    margin-bottom: 5rem;
  }
}
